@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes expandY {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-250px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.detailsBackground {
    position: fixed;

    background-color: rgba(0, 0, 0, 0.75);
    /* backdrop-filter: blur(5px); */

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;

    animation: fadeIn 0.5s ease-in-out;
}

.detailsContainer {

    animation: expandY 0.5s ease-in-out;

    /* max-width: 80vw; */
    /* max-height: ; */

    /* max-width: 100vw; */
    max-height: 100vh;

    /* border-radius: 50px; */
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);

    overflow-y: scroll;
    
    scrollbar-width: none; 
    -ms-overflow-style: none;  

    position: relative;
}

.detailsContainer::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.company {
    color: #C6C6C6;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.4px;

    text-transform: uppercase;

    opacity: 0;
    animation: slideInFromLeft 0.5s ease-out 0.5s forwards;
}

.title {
    color: #FFF;
    font-family: Lexend;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-transform: uppercase;

    margin-top: 30px;

    opacity: 0;
    animation: slideInFromLeft 0.5s ease-out 0.6s forwards;

    word-break: break-word;
}

.description {
    color: #C6C6C6;
    text-align: justify;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 162.183%; /* 38.924px */

    /* width: 500px; */
    
    margin-top: 30px;

    opacity: 0;
    animation: slideInFromLeft 0.5s ease-out 0.7s forwards;
    transition: all 0.5s ease-in-out;
}

.linkedDescription {
    color: #C6C6C6;
    text-align: justify;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 162.183%; /* 38.924px */

    /* width: 500px; */
    
    margin-top: 30px;

    opacity: 0;
    transition: all 0.5s ease-in-out;

    text-underline-offset: 7px;
    text-decoration: underline;

    display: inline;

    animation: fadeIn 0.5s ease-out 1s forwards;
}

.linkedDescription:hover {
    color: #FFF;
    text-underline-offset: 3px;
}

.descriptionHeader {
    color: #fff;
    text-align: justify;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 162.183%; /* 38.924px */

    /* width: 500px; */
    
    margin-top: 30px;
    margin-bottom: -25px;

    opacity: 0;
    animation: slideInFromLeft 0.5s ease-out 0.7s forwards;
    transition: all 0.5s ease-in-out;
}

/* tech */
.techName {
    color: #C6C6C6;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 175%; /* 10.5px */
    letter-spacing: 0.3px;

    text-transform: uppercase;
}

.techBubble {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.technologiesContainer {

    margin-top: 30px;

    gap: 20px;

    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;

    width: 100%;
    overflow-x: scroll;

    scrollbar-width: none; 
    -ms-overflow-style: none;  

    opacity: 0;
    animation: slideInFromLeft 0.5s ease-out 0.8s forwards;
}

.technologiesContainer::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.imgStyled {
    border-radius: 30px;

    width: 300px;
    height: 300px;

    object-fit: cover;

    cursor: pointer;
}

.imageContainer {

    gap: 25px;

    display: flex;
    justify-content: left;
    align-items: center;

    flex-direction: row;

    overflow-x: scroll;

    /* flex-wrap: wrap; */
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    
    margin-top: 30px;

    opacity: 0;
    animation: slideInFromLeft 0.5s ease-out 0.9s forwards;
}

.imageContainer::-webkit-scrollbar { 
    width: 0;
    height: 0;
}


.clickImage {
    color: #707070;
    text-align: justify;
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 162.183%; /* 38.924px */

    margin-top: 15px;
    opacity: 0;
    animation: slideInFromLeft 0.5s ease-out 0.9s forwards;
}

.linkContainer {
    margin-top: 30px;
    position: relative;

    display: flex;
    justify-content: flex-end;
    
    width: 100%;

    opacity: 0;
    animation: slideInFromLeft 0.5s ease-out 1s forwards;
}

.linkOutline {

    /* position: absolute;
    right: 0; */

    border-radius: 100px;
    border: 2px solid #FFF;
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.link {
    color: #fff;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 175%; /* 10.5px */
    letter-spacing: 0.3px;

    text-transform: uppercase;
}

.closeContainer {
    position: absolute;
    right: 50px;
    top: 50px;

    cursor: pointer;
}