.scrollContainer {
    width: 100vw;
    height: 250vh;
    position: relative;
}
  
.primalContainer {
    width: 100vw;
    height: 100vh;
    top: 0px;
    position: fixed;

    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocksContainer {
    position: relative;
    width: 400px;
    height: 420px;

    z-index: 100;
}

.onFlag {
    position: absolute;
    top: 0px;
    left: 0px;
}

.connector {
    position: absolute;
    top: 0px;
    left: 0px;
}

.loop {
    position: absolute;
    top: 0px;
    left: 0px;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
}