@keyframes slideInFromRight {
    0% {
      transform: translateX(100vh);
    }
  
    100% {
      transform: translateY(0);
    }
  }

.sideBarContainer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: show;
    padding-top: 15%;
    padding-bottom: 15%;
    z-index: 500;

    animation: 1s ease-out slideInFromRight;
}

.sideBarYear
{
    color: #FFF;
    text-align: right;
    font-family: Lexend;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.75px;
}

.sideBarDescription {
    color: #AEAEAE;
    text-align: right;
    font-family: Lexend;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.25px;
}

.sideBarItemContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: -5px;
}

.sideBarRightContainer {
    margin-left: 25px;
    position: relative;
}

.sideBarPath {
    position: absolute;
    top: 0;
    left: 0;
    height: "100%"
}

.sideBarIndicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}