@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.squiggle {
  stroke-dasharray: 1500;

  transition: 0.15s ease-out;
  /* stroke-dashoffset: 1500; */
  /* animation: draw 2.5s linear forwards; */
}