.scrollContainer {
    width: 100vw;
    height: 400vh;
    position: relative;
}
  
.primalContainer {
    width: 100vw;
    height: 100vh;
    top: 0px;
    position: fixed;

    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desktopContainer {
    position: relative;

    z-index: 100;
}
