.title {
    color: #FFF;
    text-align: right;
    font-family: Lexend;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.75px;
    
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.subtitle {
    margin-top: 20px;

    color: #AEAEAE;
    text-align: right;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3px;
    
    max-width: 500px;

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.captionContainer {
    position: absolute;
    bottom: 50px;
    right: 50px;

    z-index: 100000;
}