.scrollContainer {
    width: 100vw;
    height: 150vh;
    position: relative;
}
  
.primalContainer {
    width: 100vw;
    height: 100vh;
    top: 0px;
    position: fixed;

    z-index: 100;
}

.earthContainer {

}

.aboveStarsContainer {
    position: absolute;
    top: 0;

    z-index: 100;
}