.scrollContainer {
    width: 100vw;
    height: 250vh;
    position: relative;
}
  
.primalContainer {
    width: 100vw;
    height: 100vh;
    top: 0px;
    position: fixed;

    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconContainer {
    position: relative;
    z-index: 100;
}

.absIcon {
    position: absolute;
    top: 115px;
    left: 115px;
}

.subwayChaos {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: rotate(-37deg);
    z-index: -1;
}

.loneCity {
    position: absolute;
    top: 80%;
    left: 20%;

    transform: rotate(22deg);
    z-index: -1;
}

.freeThem {
    position: absolute;
    top: 0%;
    left: 30%;

    transform: rotate(-24deg);
    z-index: -1;
}