.scrollImageContainer {
    position: absolute;
    bottom: 10%;
    left: 50%;

    z-index: 100;

    transform: translateX(-50%);

    animation: fadeIn 0.5s ease-in-out forwards; 
    animation-delay: 0.5s;

    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}