
.interestContainer {

    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 25px;
}

.interestHeading {
    color: #3B3B3B;
    text-align: center;
    font-family: Lexend;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.75px;

    width: 100vw;
}

.email {
    
    width: 100vw;
    word-break: break-word;

    color: #FFF;
    text-align: center;
    font-family: Lexend;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 30px */
    letter-spacing: 4.5px;
}