.earthContainer {
  width: 100vw;
  height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;
}

.graphicsContainer {
  position: relative;
}

.background {
  /* position: absolute;
  left: 0;
  top: 0; */
}

.plane {
  position: absolute;
  top: -40px;
  left: -35px;
}